
.game{
    color: var(--color-quaternary);
    position : relative;
    display: flex;
    flex-direction: column;
    margin-top : 15vh;
    border-radius: var(--spacing);

    &__img{
        max-width: 100%;
        height: 45vh;
        opacity: 0.4;
        border-radius: var(--spacing);
        clip-path: polygon(0 0,100% 0, 100% 85%, 0 100% );
   }
    
    &__information{
        font-size: calc(var(--spacing)/1.1);
        width: 95%;
        height: 100vh;
        position : absolute;
        top: 20%;
        margin-left: calc(var(--spacing)/2);
    }

    /**
      Information Variations
      */
    &__information--left{
        top : 37%;
        width : 50%;
        height : 20%;
    }
    &__information--right{
        top: 37%;
        left:50%;
        width:50%;
        height : 20%;
        text-align: right;
    }

    &__information--box{
        margin : 6px;
    }


    &__information--box-title{
        font-weight: bold;
        font-size: calc(1.3 * var(--spacing));
    }
    &__information--box-title-right{
        font-weight: bold;
        font-size: calc(1.3 * var(--spacing));
        padding-left: calc(3.5*var(--spacing));
    }

    &__title{
        font-weight: bold;
        font-size: calc(2 * var(--spacing));
        position: relative;
        top : 10%;
        text-align: center;
    }

    &__desc{
        font-style: italic;
        font-size: calc(var(--spacing)/1.2);
        text-align: justify;
        padding:10px;
        margin : 10px;
        position : absolute;
        top : 150%;
    }

    &__release{
        font-size: calc(var(--spacing)/1.2);
    }

    &__publisher{
        font-size: calc(var(--spacing)/1.2);
    }
    
    &__dev{
        font-size: calc(var(--spacing)/1.2);
    }
}

.platforms__list{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-end;
    padding-left: 40%;
}

.platforms__name{
    font-size: calc(var(--spacing)/1.2);
}

.genres__list{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-end;
}
.genres__name{
    font-size: calc(var(--spacing)/1.2);
}



// .readmore-button{
//     display : none;
//     background-color: yellow;
//     color:var(--color-quaternary);
//     border-radius: var(--spacing);
//     border: none;
//     width:25%;
//     margin:auto;
// }

// .readless-button{
//     display : none;
// }

.heart-solid{
        cursor: pointer;
        position: absolute;
        color: red;
        right: calc(var(--spacing)*1.8);
        top: 55%;
        width: calc(var(--spacing)*2.0);
        height: calc(var(--spacing)*2.0);
        &:active {
            transform: scale(.9);
        }
    }


.heart-outline{
        cursor: pointer;
        position: absolute;
        color: red;
        right: calc(var(--spacing)*1.8);
        top: 55%;
        width: calc(var(--spacing)*2);
        height: calc(var(--spacing)*2);
        &:active {
            transform: scale(1.10);
        }
    }

@media screen and (min-width: 590px){
    .game{
        width: 90%;
        margin: 15vh auto 0;
    }
   .platforms__list{
         padding-left: 60%;
   }
   .genres__list{
        padding-left: 60%;
   }
   .heart-outline{
        right: 10%;
   }
   .heart-solid{
        right: 10%;
   }
   
}
@media screen and (min-width: 768px){
    .game{
        margin: 10vh auto 0;
        width: 80vw;
    }

    .heart-outline{
        right: 15%;
        top: 50%;
   }
   .heart-solid{
        right: 15%;
        top: 50%
   }
}

@media screen and (min-width: 1200px){
    .game{
        width: 50vw;
    }
    .heart-outline{
        right: 28%;    
   }
   .heart-solid{
        right: 28%;   
   }
}
