
.filter{ 
    display: flex;
    justify-content: space-between;
    margin : auto;
    margin-bottom: calc(1.5* var(--spacing));
   

    &__title{
        background-color: var(--color-secondary);
        color: var(--color-quaternary);
        height: 4vh;
        border: 2px;
        border-radius: 7px;
    
    
    }
    
}


@media screen and (min-width: 768px){
    .filter{
        display: flex;
        gap: var(--spacing);
        justify-content: flex-start;
        padding-left: calc(3*var(--spacing));

        &__list{
            
            background-color: rgba(0, 0, 0, 0.1);
            
        }

        &__title{
            transition: all 0.8s ease-in-out;

            &:hover {
                color: var(--color-secondary);
                background-color: var(--color-quaternary);
            };
        };
}};

