
.filter{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing);
    
   
    &__title{
        border-radius: var(--spacing);
        background-color: var(--color-quaternary);
    }

    &__option{
        color: var(--color-primary);
        opacity: 0.2;
    }
    
}


@media screen and (min-width: 768px){
    .filter{
        display: flex;
        gap: var(--spacing);
        justify-content: flex-start;
        padding-left: calc(3*var(--spacing));

        padding-top: var(--spacing);
    }
}


