.home{

  &__container{
      max-width: 100vw;
      margin: auto;
      padding: calc(var(--spacing) /2);
  }

  &__title{
      color: var(--color-secondary);
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: var(--spacing);
  }

  &__list{
      width: 100%;
      height: auto;
  }   
}

.card{
  width: 100%;
  height: 100vh;

  &__img{
      width: 100%;
      height: 50%;
  }
}