:root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  --color-primary: #151617;
  --color-secondary: #2A2D31;
  --color-tertiary: #3F4248;
  --color-quaternary: #B5BAC0;
  --spacing: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-primary);
  box-sizing: border-box;
}